<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <nav>

    <div class="brand"><a href="/">User Authentication</a></div>

    <ul>
      <!-- TODO: Implement Sign_Out. Render a delete form in a partial if there is a current user -->
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      </ul>

  </nav>

  <%= yield %>
</body>
</html>
